body {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 50px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 22px;
  font-weight: 400;
}

a {
  color: #2196f3;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

/* My own changes */

/* Link icon */
.link-icon {
	display: block;
	float: right;
	height: 14px;
	width: 14px;
}

.link-icon.white {
	/* Icon from fontawesome.com */
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='white' d='M576 24v128c0 21-26 32-41 17l-36-36-243 244c-10 9-25 9-34 0l-23-23c-9-9-9-24 0-34L443 77l-36-36c-15-15-4-41 17-41h128c13 0 24 11 24 24zM407 271l-16 16a24 24 0 0 0-7 17v144H64V128h264a24 24 0 0 0 17-7l16-16c15-15 4-41-17-41H48C21 64 0 85 0 112v352c0 27 21 48 48 48h352c27 0 48-21 48-48V288c0-22-26-32-41-17z'/%3E%3C/svg%3E") no-repeat;
	margin-top: 4px;
}

.link-icon.blue {
	/* Icon from fontawesome.com */
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%2343a3f0' d='M576 24v128c0 21-26 32-41 17l-36-36-243 244c-10 9-25 9-34 0l-23-23c-9-9-9-24 0-34L443 77l-36-36c-15-15-4-41 17-41h128c13 0 24 11 24 24zM407 271l-16 16a24 24 0 0 0-7 17v144H64V128h264a24 24 0 0 0 17-7l16-16c15-15 4-41-17-41H48C21 64 0 85 0 112v352c0 27 21 48 48 48h352c27 0 48-21 48-48V288c0-22-26-32-41-17z'/%3E%3C/svg%3E") no-repeat;
	margin-top: 2px;	
}

/* Show/hide Archive "css hack" */
input[type=checkbox] {
	display: none;
}

label { 
	cursor: pointer;  
}

input[type=checkbox]:checked ~ #archive-content {
	max-height: 700px;
	transition: max-height .4s cubic-bezier(1,0,1,0);
}

#archive-content {	
	max-height: 0;
	transition: max-height .4s cubic-bezier(0,1,0,1);
	overflow: hidden;
}

/* Hovers */
.w-col:hover .text-block-2 {
  background-color: #4b93dd;
}
.w-col:hover .paragraph {
	background-color: #e8f0fa;
}
.w-inline-block:hover {
	background-color: #e8f0fa;
}

/* Button blue colour */
.text-block-2, .title {
	background-color: #43a3f0;
}

/* Everything else */
.section-1 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.hero-section {
	height: 300px;
	padding-top: 52px;
	background-color: #6088c1;
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-attachment: scroll;
	background-position: 50% 25%;
	text-align: center;
}

.hero-heading {
  margin-bottom: 10px;
  color: #fff;
}

.hero-subheading {
  margin-bottom: 18px;
  color: #fff;
}

.section-title-group {
  margin-bottom: 0;
}

.profile-image {
  margin-bottom: 15px;
  border-radius: 100px;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #2196f3;
  text-decoration: none;
}

.link:hover {
  color: #1565c0;
}

.content {
  overflow: hidden;
  width: 80%;
  float: left;
}

.text-block {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  background-color: #43a3f0;
  color: #fff;
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.paragraph {
  margin-bottom: 3px;
  padding: 7px 13px 8px;
  color: #4896ec;
  font-size: 13px;
  background-color: #f3f8fd;
}

.text-block-2 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 5px 10px 5px 13px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.paragraph-2 {
  margin-bottom: 5px;
  padding-top: 6px;
  padding-right: 5px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 22px;
}

.paragraph-2.intro {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-right: 10px;
}

.section-2 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f0f0f0;
}

.div-block {
  display: block;
  margin: 0px;
  padding-right: 0px;
}

.text-block-3 {
  font-size: 13px;
}

.link-block {
  display: block;
  margin-bottom: 5px;
  padding: 10px 10px 8px;
  background-color: #f3f8fd;
}

.title {
  padding: 10px 10px 10px 13px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.link-block-2 {
  display: block;
}

.link-block-3 {
  display: block;
}

.column {
  padding-right: 5px;
}

.column-2 {
  padding-left: 5px;
}

.div-block-2 {
	background-color: #fff;
}

.whiteblock {
	background-color: #fff;
}

@media (min-width: 991px) {
	.hero-section {
		background-position: 50% 40%;
	}
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    height: auto;
  }
  .paragraph {
    padding-right: 9px;
  }
  .paragraph-2.intro {
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .section-1 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph-2.intro {
    padding-right: 10px;
  }
  .section-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .paragraph-2 {
    padding-right: 9px;
  }
  .section-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .title {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}